{% extends "base.html" %}
{% load thumbnail %}

{% block extra_headers %}
    <style>
        a.like{
            float:right;
        }
    </style>
{% endblock extra_headers %}

{% block content %}
    <h1>{{ image.title }}</h1>
    <hr>
    

    <div class="row">
        <div class="col-lg-4 col-sm-12">
            {% thumbnail image.image "300" as im %}
                <a href="{{ image.image.url }}">
                    <img src="{{ im.url }}" class="image-detail">
                </a>
            {% endthumbnail %}
        </div>
        <div class="col-lg-8 col-sm-12">
            {% with total_likes=image.users_like.count users_like=image.users_like.all %}
                <div class="image-info"> 
                    <div>
                        <span class="badge badge-pill badge-secondary">
                            <span class="count">{{ total_likes }}</span> like{{ total_likes|pluralize }}
                        </span>
                    </div>
                    <a href="#" data-id="{{image.id}}" data-action="{% if request.user in users_like %}un{% endif %}like" class="btn btn-success like">
                        {% if request.user in users_like %}un{% endif %}like
                    </a>
                    {{ image.description|linebreaks }} 
                </div>

                <div class="image-likes">
                    {% for user in image.users_like.all %}
                    <div>
                        <img src="{{ user.profile.photo.url }}"> 
                        <p>{{ user.first_name }}</p>
                    </div>
                    {% empty %}
                        Nobody likes this image yet. 
                    {% endfor %}
                </div>
            {% endwith %}
        </div>
    </div>


{% endblock content %}

{% block domready %}
    $('a.like').click(function(e){
        console.log($(this).data('id'),$(this).data('action'));
        e.preventDefault();
        $.post('{% url "image_like" %}',{
            id: $(this).data('id'),
            action: $(this).data('action')
        },function(data){
            if (data['status'] == 'ok'){
                var previous_action = $('a.like').data('action');

                //toggle actions
                $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
                //toggle link text
                $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

                var previous_likes = parseInt($('span.count').text())
                $('span.count').text(previous_action == 'like'? previous_likes+1 : previous_likes-1);
            }
        })
    })
{% endblock domready %}